@import "tailwindcss";

.font-be_vietnam_pro {
   font-family: var(--font-be_vietnam_pro), system-ui, sans-serif;
}

.font-asap {
   font-family: var(--font-asap), system-ui, sans-serif;
}

.custom-scrollbar::-webkit-scrollbar {
   width: 0px;
   display: none; /* width of the scrollbar */
}

.custom-scrollbar {
   -ms-overflow-style: none; /* IE & Edge */
   scrollbar-width: none; /* Firefox */
}
