@import "tailwindcss";

.font-be_vietnam_pro {
   font-family: var(--font-be_vietnam_pro), system-ui, sans-serif;
}

.font-asap {
   font-family: var(--font-asap), system-ui, sans-serif;
}

.no-scrollbar {
  overflow-y: auto;
  scrollbar-gutter: stable;
  padding-right: 6px; /* ruang untuk scrollbar */
}

/* Chrome / Safari */
.no-scrollbar::-webkit-scrollbar {
  width: 6px;
}

.no-scrollbar::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.3);
  border-radius: 10px;
}

/* Firefox */
.no-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: var(--color-emerald-200) transparent;
}

